
@{
    ViewData["Title"] = "CreateExam";
}
@model OnlineSinavPortali.ViewModels.ExamModel

@* 
<body class="bg-secondary">

    <div class="row mt-3 justify-content-center">
        <div class="col-md-8 card mt-5">
            <form id="createExamForm" asp-controller="Exam" asp-action="CreateExam" method="post" class="p-4">
                <div class="card-body">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                    <h4 class="mb-4">Sınav Türü:</h4>

                    <h4 class="mb-4">Sınıf Seçiniz:</h4>
                    <div class="form-group">
                        <select asp-for="UniversityDepartment" id="UniversityDepartment" name="UniversityDepartment" class="form-control">
                            <option value="Bilgisayar Programcılığı">Bilgisayar Programcılğı</option>
                            <option value="Elektrik Elektronik">Elektrik Elektronik</option>
                            <option value="Harita Kadastro">Harita Kadastro</option>
                        </select>
                        <span asp-validation-for="UniversityDepartment" class="text-danger"></span>
                    </div>

                    <h4 class="mb-4">Ders İsmi:</h4>
                    <div class="form-group">
                        <select asp-for="CourseName" id="CourseName" name="CourseName" class="form-control">
                            <option value="Matematik">Matematik</option>
                            <option value="Türkçe">Türkçe</option>
                            <option value="İngilizce">İngilizce</option>
                            <option value="Fizik">Fizik</option>
                            <option value="Programlamanın Temelleri">Programlama Temelleri</option>
                            <option value="İnternet Programcılığı">İnternet Programcılığı</option>
                            <option value="Veri Tabanı">Veri Tabanı</option>
                            <option value="Web Tasarımı Temelleri">Web Tasarımı Temelleri</option>
                            <option value="GÖrsel Programlama">Görsel Programlama</option>
                            <option value="Multimedya Uygulamaları">Multimedya Uygulamaları</option>
                            <option value="Nesne Tabanlı Programlama">Nesne Tabanlı Programlama</option>
                            <option value="İleri Programlama">İleri Programlama</option>
                        </select>
                       
                        <span asp-validation-for="CourseName" class="text-danger"></span>
                    </div>

                    <h4 class="mb-4">Sınav Tarihi</h4>
                    <div class="form-group">
                        <input asp-for="ExamDate1" type="date" id="ExamDate1" class="form-control">
                        <span asp-validation-for="ExamDate1" class="text-danger"></span>
                    </div>

                    <h4 class="mb-4">Sınav Saati:</h4>
                    <div class="form-group">
                        <input asp-for="ExamTime" type="time" id="ExamTime" class="form-control">
                        <span asp-validation-for="ExamTime" class="text-danger"></span>
                    </div>

                    <button type="submit" value="kayıt" class="btn btn-primary"> Sınavı Kaydet Ve Sorular Ekle</button>
                </div>
            </form>
        </div>
    </div>

    
</body>
</html>
 *@