@{
    ViewData["Title"] = "ExamTimeOut";
}


<body>
    <div class="container mt-5">
        <h1 class="text-center text-danger">Giriş Hatası</h1>

        <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">


                @{
                    if (Model.Sure.TotalSeconds < 0)
                    {
                        
                        <p>
                            Sınavınız <strong>@Math.Abs(Model.Sure.Days)</strong> Gün, <strong>@Math.Abs(Model.Sure.Minutes)</strong> Dakika sonra.
                        </p>
                    }
                    else
                    {
                        <p class="card-text text-danger">
                            Maalesef sınavınızın süresi geçtiği için sınava katılamazsınız...
                        </p>
                    }
                }

                <div class="text-center mt-4">
                    <a asp-action="StudentMyExams" class="btn btn-outline-secondary">Geri Dön</a>

                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS ve Popper.js için gerekli bağlantılar -->

</body>
