@{
    ViewData["Title"] = "Home Page";
}
@* <div id="toss" class="text-primary">T<span style="color: darkblue;">O</span>SS</div> *@

<img src="~/Photos/arka_plan1.png" alt="Backgroundimg" class="img-fluid" />
<br />
<br />
@*style="width:1519px" *@
<h3  class="text-center text-dark ">TOSS</h3>
<p class="lead text-center">
    <b>TOSS</b>  e-sınavlar hazırlayabileceğiniz insanlara <i>güvenli ve gözetimli bir ortamda</i> online sınavlar yapabileceğiniz ve baştan-uca özgün sınav süreçleri hayata geçirebileceğiniz bir online sınav sistemidir.
</p>
<br />
<br />